#App {
  height: 100%;
}

#App header {
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
}

#App header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#App header a {
  color: black;
  text-decoration: unset;
}
