#AnswerOptions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}

#AnswerOptions > *:nth-child(1):hover {
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
}

#AnswerOptions > *:nth-child(2):hover {
  box-shadow: -5px 5px 0 0 rgba(0, 0, 0, 1);
}

#AnswerOptions > *:nth-child(3):hover {
  box-shadow: 5px -5px 0 0 rgba(0, 0, 0, 1);
}

#AnswerOptions > *:nth-child(4):hover {
  box-shadow: -5px -5px 0 0 rgba(0, 0, 0, 1);
}

#AnswerOptions > *:nth-child(1),
#AnswerOptions > *:nth-child(2) {
  margin-bottom: 15px;
}

#AnswerOptions > *:nth-child(1),
#AnswerOptions > *:nth-child(3) {
  margin-right: 15px;
}