#Carousel {
  display: flex;
  justify-content: center;
  position: relative;
}

#Carousel img {
  background-color: black;
  max-height: 500px;
  max-width: 900px;
  border: 15px solid black;
}

#Carousel .rope {
  position: absolute;
  bottom: 100%;
  align-self: center;
  width: 10px;
  height: 100vh;
  background-color: black;
}
