#Account {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Account .profile-info,
#Account .user-data {
  padding: 0 60px;
}

#Account .profile-info {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

#Account .profile-info .user-pic {
  margin-bottom: 55px;
}

#Account .profile-info .first-name,
#Account .profile-info .last-name {
  font-family: "Judson", serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}

#Account .profile-info button {
  margin-top: 35px;
}

#Account .user-data {
  display: flex;
  flex-direction: column;
  width: 800px;
}

#Account .user-data .welcome-msg-wrapper {
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

#Account .user-data .welcome-msg {
  font-family: "Judson", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
}

#Account .user-data .welcome-msg span {
  font-weight: 700;
}

#Account .user-data section h2 {
  font-family: "Judson", serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  text-decoration: underline;
  margin-bottom: 40px;
}

#Account .user-data .achievements {
  margin-bottom: 115px;
}

#Account .user-data .statistics .wrapper {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;

  display: flex;
  flex-wrap: wrap;
}

#Account .user-data .statistics .title,
#Account .user-data .statistics .stat {
  width: 50%;
}

#Account .user-data .statistics .stat {
  font-weight: bold;
  padding-left: 15px;
}
