#Home {
  display: flex;
  min-height: 100%;
}

#Home .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#Home .wins-counter,
#Home .arrow-next {
  padding: 0 40px;
}

#Home .wins-counter {
  display: flex;
  align-items: center;
  font-size: 40px;
  line-height: 40px;
  font-family: "Judson", serif;
}

#Home .wins-counter img {
  height: 30px;
  margin-right: 20px;
}

#Home .arrow-next {
  align-self: stretch;
  transition: background-color 0.3s ease;
}

#Home .arrow-next:hover {
  background-color: rgba(1, 1, 1, 0.05);
}

#Home .arrow-next img {
  height: 35px;
  transition: transform 0.15s ease-out;
}

#Home .arrow-next:hover img {
  transform: translateX(10px);
}

#Home .quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
