* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

img {
  user-select: none;
  pointer-events: none
}

.container {
  width: 95%;
  margin: auto;
}
